//- pre=JSON.stringify(data['about-me'], null, 2)
.column(span="row")
  .section__title-wrapper
    .section__title=data['about-me'].sectionTitle
.column(span="row" height="10")
.column(span="row")
  button.button__disc--red
    i.icon__youtube
.column(span="row" height="10")
.column(span="row")
  h1.about-me__main-title=data['about-me'].mainTitle
.column(span="row")
  h2.about-me__sub-title=data['about-me'].subTitle
.column(span="row" height="10")
.column(span="row")
  h3.about-me__lead-title=data['about-me'].leadTitle
.column(span="row")
  .description-box__with-shadow
    each description in data['about-me'].descriptionList
      p.description=description

.column(span="row" height="10")
.column(span="row")
  button.button__pill--blue
    i.icon__download
    span.button-text=data['about-me'].downloadButtonLabel
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
